<div class="dynamic-content">
  <form>
    <div class="form-group">
      <label for="nomeUsuario">Usuário:</label>
      <input type="text" class="form-control" id="nomeUsuario">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Senha:</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn">Salvar</button>
  </form>
</div>