<div class="dynamic-content">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuário</th>
        <th scope="col">Senha</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Admin</td>
        <td>admin</td>
        <td><i class="far fa-edit"></i></td>
        <td><i class="far fa-trash-alt"></i></td>
      </tr>
    </tbody>
  </table>
</div>