@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
body, html{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background: url(../img/rocket-space.jpg) center no-repeat fixed;
    background-size: 100% 100%;
}
.nav-link{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: #f1eaea;
}
.logo{
    width: 5%;
    height: 5%;
    margin-left: 1%;
}
.modal-dialog{
    margin-top: 0% !important;
}
#login{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}