.flex-dashboard header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background: #fff;
    padding: 0 50px;
    border: 1px solid rgba(0, 0, 0, 0.0625);
}
.flex-dashboard header a{
    text-decoration: none;
    color: #72777a;
}
.flex-dashboard header a > svg{
    color: #6e8efb;
}