@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
body, html{
    height: 100%;
    background-repeat: no-repeat;
    background: rgb(121,46,9);
    background: linear-gradient(90deg, rgba(121,46,9,1) 15%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 60%, rgba(98,0,255,1) 85%);
}
.login-form{
    margin: 0 auto;
    max-width: 40%;
    margin-top: 8%;
    background-color: #e8f3ff;
    border-radius: 4%;
    padding: 2%;
    margin-left: 30% !important;
}
.profile-img{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.nomeLogo{
    font-family: 'Caveat', cursive;
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    margin-right: 2%;
    margin-top: -5%;
}
.novoUser{
    margin: 0 auto;
    margin-top: 3%;
    display: block;
    text-align: center;
}