main{
    display: block;
    height: 100%;
    background: rgba(204, 204, 204, 0.568);
    width: calc(100% - 300px);
}
main .main-content{
    padding: 30px;
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: auto;
}
.main-content .panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px 0;
}
.main-content::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}
.main-content::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}
.main-content::-webkit-scrollbar-thumb{
	border-radius: 10px;
    background-image: -webkit-gradient(linear,left bottom,left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}
.panel-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.panel-50{
    width: 48%;
}
.panel-row button{
    height: 120px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #fff;
}
.panel-row button:hover{
    transform: scale(1.10);
    transition: 0.3s;
}
div#ajax-content{
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 2rem rgba(0,0,0,0.2);
}
div#ajax-content button{
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #fff;
}
div#ajax-content button:hover{
    transform: scale(1.10);
    transition: 0.3s;
}
div#ajax-content label{
    color: #72777a;
    font-size: 14px;
}
.dynamic-content{
    padding: 20px;
}