sidebar{
    display: block;
    height: 100%;
    width: 300px;
    background: rgba(255, 255, 255, 0.459);
}
sidebar .sidebar-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 90px;
    border: 1px solid rgba(0, 0, 0, 0.0625);
    border-right: 0px;
}
sidebar .sidebar-title img{
    height: 65px;
    width: 65px;
}
sidebar .sidebar-title h2{
    font-size: 16px;
    margin-top: 8px;
}
div.menu{
    border: 1px solid rgba(0, 0, 0, 0.0625);
}
div.menu ul{
    list-style: none;
}
div.menu ul li{
    border-bottom: 1px solid #72777a;
    padding: 10px 20px;
    width: 100%;
    margin-top: 10%;
    color: #72777a;
    flex-direction: row;
    align-items: center;
}
div.menu ul li svg{
    color: #6e8efb;
    font-size: 25px;
}
div.menu ul li a{
    color: #727272;
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
div.menu ul li a:hover{
    color: #171616;
}